body
{
	width: 100%;
	height: auto;
    margin: 0px;
}
.first-menu
{
	width: 100%;
	height:50px;
	background:#333333;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
	color: white;
	box-sizing: border-box;	
	position: relative;

}
.first-menu , a
{
	text-decoration: none;
	color: white;
}
select
{
	width: auto;
	height: auto;
	background-color: transparent;
	border: none;
	color: #828282;
}
.heart
{
	width: 120px;
	height: auto;
	display: flex;
	background-image: url("https://icons.veryicon.com/png/o/miscellaneous/business-linear-icon-2/heart-86.png");
	background-size: 15%;
	background-repeat: no-repeat;
	justify-content: center;
}
.delivery
{   width: 180px;
	height: auto;
	display: flex;
	background-image: url("https://icons.veryicon.com/png/o/miscellaneous/yunnan-construction-investment-and/delivery-plan.png");
	background-size: 10%;
	background-repeat: no-repeat;
	justify-content: center;
}
.contact
{
	width: 120px;
	height: auto;
	display: flex;
	background-image: url("https://icons.veryicon.com/png/o/miscellaneous/online-medicine-city-system-icon/phone-235.png");
	background-size:15%;
	background-repeat: no-repeat;
	justify-content: center;
}
.logo
{
    width: 150px;
    height: 150px;
    background-image: url('../img/imgmeniu/logo.png');
	background-size: auto;
	background-position: center;
    background-repeat: no-repeat;	     
	border: none;
	box-sizing: border-box;
	padding: 1px;
}
.login
{
	width: 185px;
	display:flex;
	background-image: url("img/user.png");
	background-size: 9%;
	background-repeat: no-repeat;
	justify-content: center;
}
.lsitform>select
{
	font-size: 18px;
	font-weight: bold;
	color: #828282;
	text-decoration: none;
}
/*Style finish list of heeder*/
/*Second menu*/
.second-menu
{
	height: 150px;
	border: none;
	position: relative;
	margin: 2px; 
	display: flex;
	justify-content: space-evenly;
	align-items: center;	
	box-sizing: border-box;
	padding: 1px;
	
}
.container1
{   
	border:none;
	width: 80%;
	height: 100%;	
	position: relative;
	padding: 2px;
	box-sizing: border-box;
	overflow: hidden;
	margin: 5px;
}
.caseforsearch
{
	width: 100%;
	height: 40%;	
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border: none;
	margin-top: 15px;
	padding: 2px;
	border: none;
	box-sizing: border-box;
}
.arangelistcolor
{
	font-size: 18px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}

.styleforsearch
{
	border: none;
	border-bottom: 1px solid #956D84;
}
.short
{
	width: 20%;
	height: 25px;
	margin-right: 15px;
	margin-left: 0px;
}
.long
{
	width:350px;
	height: 25px;	
}
.lsitform
{
	width: 100%;
	height: 50%;
	display: flex;
	align-items:end;
	justify-content: space-evenly;
	border: none;
	font-size: 18px;
	font-weight: bold;
	color: #828282;
}
.social-media
{
	width: 180px;
	height: 100%;
	border: none;
	display: grid;
	box-sizing: border-box;	
}
.icon-social-media
{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	width: 100%;
	justify-content: space-around;
	height: auto;
	border: none;
	position: relative;
	box-sizing: border-box;

}
.mobilephone 
{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  border: none;
 
}

.market
{
	width: 100%;
	height: auto;
	border: none;
	box-sizing: border-box;
	padding: 3px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	position: relative;

}
.sum
{
	color: #828282;
}
/*Finish style for second menu*/
.bilbord
{
	width: 1420px;
	height: auto;
	margin-right: auto;
	margin-left:auto ;
	border:none;
	box-sizing: border-box;
	display: flex;
}
.bigimg
{
	
	width:700px;
	height: auto;
	border: 1px none;
	font-weight: bold;
	font-size: 36px;
	box-sizing: border-box;
	font-family: Museo Sans Cyrl;
	position: relative;
	margin: 15px;
	margin-right: 10px;
	margin-left: auto;
	background-image: url("img/bilimg.svg");
	background-repeat: no-repeat;
	background-size:cover;
}
span
{
	color: #FFFFFF;
}
.allcategories
{
	width: 700px;
	height: auto;
	border: none;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: 15px;
	margin-right: auto;
	margin-left: 10px;
}
.text-big-image
{	
	display: block;
	width: 420px;
	height: 110;
	color: #333333;
	text-align: justify;
	margin-left: auto;
	margin-right: 15px;
	letter-spacing: 2px;
}
.categories
{
	width:330px;
	height:320px;
	border: none;
	display: flex;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #333333;
	font-weight: bold;
	font-size: 36px;
	box-sizing: border-box;
	font-family: Museo Sans Cyrl;
	padding-top: 40px;
	padding-left: 20px;
	overflow: hidden;
}
